body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #000080; /*linear-gradient(90deg, #ff7e5f, #feb47b);*/
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffdd57;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: #333;
    position: relative;
    margin-bottom: 40px;
}

h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #ff7e5f;
    margin: 10px auto 0;
    border-radius: 2px;
}

.profile-picture {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.experience, .project, .education {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.experience:last-child, .project:last-child, .education:last-child {
    border-bottom: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 20px;
    font-size: 16px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #feb47b;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(90deg, #ff7e5f,
